/* VARIABLES */
:root {
    --font-size-xs-factor: 14px;
    --font-size-s-factor: 18px; 
    --font-size-m-factor: 24px; 

    --color-bg-primary: #ffa500;
    --color-bg-secondary: #fff;
    --color-bf-third: silver;

    --font-family-main: 'Baloo Tammudu 2', cursive;
    --font-family-secondary: 'Roboto', sans-serif; 
    --font-family-small: 'Kalam', cursive;
}



/* GENERAL STYLING */
* {
    box-sizing: border-box;
}

body {
    max-width: 100%;
}

/* TYPOGRAPHY */
h1,
h5,
h3 {
    font-family: var(--font-family-main);
}
h3 {
    width: 3.125em; /*50px*/
    align-self: left;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 0 2px 3px;
     
}
code {
    font-family: var(--font-family-small);
    font-size: 12px;
}
p {
    font-size: var(--font-size-xs-factor);
}

/* PANELS */
.div {
    height: 90vh;
    

}
.panel_1 div,
.panel_3 div {
    display: flex;
    align-items: center;
    justify-content: center;
}


.panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
   
    
}

.panels {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
  }

  .panel_1 {
      background-color:  var(--color-bg-primary);
     
  }
  .panel_2 {
      background-color: var(--color-bg-secondary);
     
     
  }
  .panel_3 {
      background-color: var(--color-bf-third);
     
  }
  .panel div{
      cursor: pointer;
  }
/* ----------- ACTIVE TRANSITIONS */
.active {
    flex: 4;
}
.active h3{
    transform-origin: 0 0;
    transform: rotate(-90deg);
    margin-left: .357em /*5px*/
}
.active div,
.active .sections {
    display: flex;
   
}
.active div {
    cursor: auto;
}
.sections {
    display: none;
    width: 95%;
}
/* MAIN SECTION */
     /* ----IMAGES */

.icons {
  
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    /* margin-top: 3.125em;50px */
}

.graphic img{
    width: 16px !important; 
    margin-top: 20px;
    display: block;
    margin-left: 50%;   
}
    /* ------ links effects */
    .graphic a:hover {
        transform: scale(1.1);
        filter: brightness(1.1);
        
    }


/* ----CONTAINER */
    /* -----WHITE CONTAINER */
   .clearfix {
       content: "";
       display: table;
       clear: both;
   }
.main {
    margin-left: -11%;;
  overflow: visible;
   width: 100%;
   height: 90vh;
   display: flex;
   justify-content: space-between;
   align-items: center;;
}
.titles {
  
    display: flex;
    flex-direction: column;
    align-items: center;
   height: 10%;
   transform: rotate(-90deg) translateY(-40px);
 
    
}
.titles h4 {
font-size: 32px;
}

    /* ----- DECOR */
    
.cuadro {
    width: 40px;
    height: 40px;
    background-color: silver;
    position: relative;
    top: 10%;
    left: 70%;
    z-index: 2;
}
.cuadro::after {
    content: "";
    width: 30px;
    height: 30px;
    border: 5px solid orange;
    position: relative;
    top: -30%;
    left: 15px;
}

 /* -----ORANGE CONTAINER */
.about {
    width: 95%;
   position: relative;
   margin: 0 auto;
   
   
}

.about article {
    width: 80%;
    margin: 0 auto;
   
   
}
.intro h4 span{
    border-bottom: 1px solid black;
}
.intro p span {
font-style: italic;
}

.skills {
    display: none;
    width: 90%;
}
.skills p,
.skills h4 {
    margin-left: 15px;
}
.skills p span {
    font-style: italic;
}
    /* ----- icons */
    .right {
        width: 16px;
        display: inline-block;
        position: absolute;
        right: 5px;;
        top: 50%;
        cursor: pointer;
    }
    
    .left {
        width: 16px;
        display: none;
        position: absolute;
        left: 5px;;
        top: 53%;
        cursor: pointer; 
    }
    .right:hover,
    .left:hover {
        transform: scale(1.3);
    }
    .skills_icons {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-top: 20px;
    }

    .skill img {
        width: 16px;
        margin-left: 10px;
    }

/* ----FOOTER */
.footer {
    position: fixed;
    bottom: 0;
    right: 50%;

}


/* MEDIA QUERIES */
@media (min-width: 768px) {


.graphic img{
    width: 22px !important;
    margin-right: 40px;
}
/* typography */
h3 {
    text-align: center;
    font-size: 18px;
}
h4 {
    font-size: 32px;
}
h5 {
    font-size: 20px;
    margin-top: .357em /*5px*/
}
p {
    font-size: var(--font-size-s-factor);
}
code {
    font-size: 14px;
}
/* sections */
.titles { 
transform: rotate(-90deg) translateY(-80px);
}
.titles h4 {
    font-size: 48px;
}
.about article {
    width: 95%;
}
.about p {
    font-size: 18px;
}
.skills_icons {
    margin-top: 30px;
}
.skill img {
    width: 32px;
    margin-left: 25px;  
}
.icons {
    margin-top: 70%;
}
.main {
    margin-left: -10%;;
}
    /* ----- DECOR */
    
    .cuadro {
        width: 70px;
        height: 70px;
        
    }
    .cuadro::after {
        content: "";
        width: 60px;
        height: 60px;
       
    }
}

@media (min-width: 1024px) {
    .icons {
       margin-right: -30px;
    }
    .graphic img {
        width: 20px !important;
    }
    .titles { 
        transform: rotate(-90deg) translateY(-120px);
        }
        .titles h4 {
            font-size: 64px;
        }
        .titles h5 {
        font-size: 32px;
        }
}


