/* VARIABLES */
:root {
    --font-size-xs-factor: 14px;
    --font-size-s-factor: 18px; 
    --font-size-m-factor: 24px; 

    --color-bg-primary: #ffa500;
    --color-bg-secondary: #fff;
    --color-bf-third: silver;

    --font-family-main: 'Baloo Tammudu 2', cursive;
    --font-family-secondary: 'Roboto', sans-serif; 
}



/* GENERAL STYLING */
* {
    box-sizing: border-box;
}

body {
    max-width: 100%;
}

/* TYPOGRAPHY */
h3 {
    width: 3.125em; /*50px*/
    align-self: left;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 0 2px 3px;
     
}


/* PANELS */
.div {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;

}


.panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* cursor: pointer; */
    flex: 1;
   
    
}

.panels {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
  }

  .panel_1 {
      background-color:  var(--color-bg-primary);
     
  }
  .panel_2 {
      background-color: var(--color-bg-secondary);
     
  }
  .panel_3 {
      background-color: var(--color-bf-third);
     
  }
/* ----------- ACTIVE TRANSITIONS */
.active {
    flex: 4;
}
.active h3{
    transform-origin: 0 0;
    transform: rotate(-90deg);
    margin-left: .357em /*5px*/
}
.active div,
.active .sections {
    display: flex;
   
}
/* .active .sections {
   display: flex;
} */

.sections {
    display: none;
}
/* MAIN SECTION */
     /* ----IMAGES */
.icons {
    width:80%;
    display: flex;
    justify-content: space-between;
    margin-top: 3.125em;/*50px*/
}
.graphic img{
    width: 1.250em !important; /*20px*/
    margin-right: 20px;
    
}
/* ----CONTAINER */
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    
}
/* ----FOOTER */
.footer {
    position: fixed;
    bottom: 0;
}


/* MEDIA QUERIES */
@media (min-width: 768px) {
h3 {
    text-align: center;
    font-size: 18px;
}

.graphic img{
    width: 2.5em !important; /*42px*/
}
h4 {
    font-size: 32px;
}
h5 {
    font-size: 20px;
    margin-top: .357em /*5px*/
}
}

@media (min-width: 1024px) {
    .icons {
        margin-top: 5em; /*70px*/
    }
}